@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Roboto:ital,wght@1,300&display=swap');

.container {
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #c6c0c0;
  box-shadow: 2px 2px 2px 2px #e6e3e3;
  display: flex;
  flex-direction: column;
}

h1 {
  text-align: left;
  font-size: small;
  color: #5e5c5c;
  font-family: 'inter', sans-serif;
}

#deleteAllBtn {
  color: #5e5c5c;
  font-family: 'inter', sans-serif;
}

.input-container {
  display: flex;
  margin-bottom: 10px;
}

button {
  cursor: pointer;
  width: 440px;
  margin-bottom: -20px;
  height: 47px;
  margin-left: -20px;
  border-top: 1px solid #a8a7a7;
  border-left: none;
  border-right: none;
  border-bottom: none;
  background-color: #e9e9e9;
}

#addTaskBtn {
  height: 60px;
  width: 45px;
  margin-left: 3px;
  border: none;
  background: none;
}

.delete-icon {
  width: 143px;
  text-align: right;
}

.inputoutline {
  outline: none;
  border: none;
}

.wrapper {
  display: flex;
  height: 97vh;
  align-content: center;
  flex-wrap: wrap;
}

.task {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.task input[type="checkbox"] {
  margin-right: 10px;
}

.options {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 5px;
}

.options span {
  padding: 2px;
}

.fas {
  color: #adadad;
  font-size: small;
  cursor: pointer;
}

.fa-sync-alt {
  color: #adadad;
  font-size: small;
  width: 300px;
  text-align: right;
  cursor: pointer;
}

#taskInput {
  border: none;
  box-shadow: 1px 1px 1px 1px gainsboro;
  width: 100%;
  height: 31px;
  margin-top: 13px;
  font-style: italic;
}

#taskInput:focus-visible {
  outline: none;
}

.font {
  font-family: 'Inter', sans-serif;
  font-size: small;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}


